flow/short-form-youtube.json
{
  "name": "short-form-youtube",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: \"{{ $json.Description }}\"\n\nPlease generate a 1-minute scary YouTube transcript for the story, divided into 3 scenes. Each scene should last a maximum of 20 seconds and be as terrifying as possible. The structure should build suspense across the scenes: Scene 1 – eerie buildup, Scene 2 – rising fear, Scene 3 – horrifying climax.\n\nI want to create a video based on images, so along with each scene’s transcript, provide a detailed image generation prompt that captures the visuals of the scene for AI image creation, optimized for YouTube Shorts (vertical format, aspect ratio 9:16).\n\nFormat the output as JSON, where each scene contains the following fields:\n\ntranscript\n\nimage_prompt",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE: Scary Story & Image Prompt Builder\n\nPurpose:\nGiven a scary story description, generate a 3-scene YouTube Shorts horror script with very short transcripts (≤2–3 sentences each, max ~15s) and matching image prompts.\n\nDefaults:\n\nKeep narration short, creepy, and direct (no long paragraphs).\n\nAssume realistic horror visuals in a vertical 9:16 frame.\n\nScary Realism Principles:\n\nBuild suspense: Scene 1 = eerie setup, Scene 2 = fear rising, Scene 3 = terrifying climax.\n\nAdd atmospheric cues: fog, flickering lights, distorted shadows, eerie silence.\n\nUse imperfections: motion blur, reflections, shaky camera feel.\n\nCamera / Visual Cues (use at least 2–3 per scene):\n\n\"vertical frame\"\n\n\"YouTube Shorts aspect ratio 9:16\"\n\n\"dim ambient light\"\n\n\"soft cinematic shadows\"\n\n\"slight motion blur\"\n\n\"off-center composition\"\n\n\"fog or mist\"\n\n\"handheld cinematic look\"\n\n\"low-key horror lighting\"\n\n\"unnerving reflections\"\n\n\"distorted perspective\"\n\n\"shadows stretching unnaturally\"\n\nOutput Contract:\nReturn only one JSON object with this format:\n\n{\n  \"scenes\": [\n    {\n      \"transcript\": \"1–2 sentence creepy narration (~10–15s).\",\n      \"image_prompt\": \"≤150 words description of visuals, mood, style, and camera cues optimized for vertical 9:16.\"\n    },\n    {\n      \"transcript\": \"Short narration.\",\n      \"image_prompt\": \"...\"\n    },\n    {\n      \"transcript\": \"Short narration.\",\n      \"image_prompt\": \"...\"\n    }\n  ]\n}\n\n\nChecklist:\n\nShort transcripts (≤2–3 sentences)? ✓\n\n3 escalating scenes (setup → fear → climax)? ✓\n\nVertical 9:16 aspect ratio? ✓\n\nJSON only? ✓"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -64
      ],
      "id": "5291295f-d64a-4734-b938-400fe146a734",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        128
      ],
      "id": "b4528452-f10c-4b3d-b07a-2d600d984792",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2ydQBjL7AFR8ocSy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[  \n    {\n\t\"image_prompt\":\"string\",\n      \"transcript\" : \"string\"\n    }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        144
      ],
      "id": "09ff4c00-4fba-4e6d-b91b-51fca85ed93c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "formTitle": "Free Image Generation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Description"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        448,
        -64
      ],
      "id": "ba5bc6ac-47f1-4714-a75f-392b338248b0",
      "name": "On form submission",
      "webhookId": "3972b296-364f-4e58-aee6-671a1267032c"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        -64
      ],
      "id": "26b9184b-7796-49bf-be4b-4a28facd8c91",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        -64
      ],
      "id": "e2921121-20c4-48fd-aa43-04c75b5cab26",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1X0BiHGR22yP1bTi89nwkuMi8WcSdirWI",
          "mode": "list",
          "cachedResultName": "N8n Automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1X0BiHGR22yP1bTi89nwkuMi8WcSdirWI"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        -48
      ],
      "id": "2ac68849-3da9-4383-b082-ffa57b14b37a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xlcscirAF5n68NfQ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk",
          "mode": "list",
          "cachedResultName": "scary_faceless_short_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        464,
        480
      ],
      "id": "13d97979-d864-471f-84d1-abeeb3e26255",
      "name": "GET_VIDEO_DETAILS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iMpjGGr8WAQQ3x3o",
          "name": "GoogleSheetAuthentication"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b45ad77c-3015-451e-9f2e-a5188822ebba",
              "leftValue": "={{ $json.video_ready }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        336
      ],
      "id": "7a9d455c-dc7d-42c7-bfa5-daf776ae21c3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        336
      ],
      "id": "94b1e398-5f9d-46b1-9944-27e1fba2a8bc",
      "name": "Wait",
      "webhookId": "77d76ca8-60a8-4fcf-9dc2-ea02c36cd532"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        480
      ],
      "id": "462b7fb9-1675-487d-aa1f-5c4d046f6b56",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk",
          "mode": "list",
          "cachedResultName": "scary_faceless_short_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "image_prompt": "={{ $('Split Out').item.json.image_prompt }}",
            "script": "={{ $('Split Out').item.json.transcript }}",
            "status": "PENDING",
            "imageUrl": "={{ $json.webContentLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1856,
        -48
      ],
      "id": "2e5dcedf-6d02-4f0c-85a0-b0b705d014ef",
      "name": "APPEND_VIDEO_DETAILS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iMpjGGr8WAQQ3x3o",
          "name": "GoogleSheetAuthentication"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk",
          "mode": "list",
          "cachedResultName": "scary_faceless_short_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('GET_VIDEO_DETAILS').item.json.row_number }}",
            "status": "SUCCESS",
            "VIDEO_ID": "={{ $json.video_id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1904,
        448
      ],
      "id": "739a9afb-1410-44e6-b04c-75b391f93146",
      "name": "UPDATE_STATUS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iMpjGGr8WAQQ3x3o",
          "name": "GoogleSheetAuthentication"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n    {\n\n      \"inputs\":  \"Generate image of {{ $json.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\"    \n\n  \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        -48
      ],
      "id": "03e068ad-a72b-4ab8-9c49-1840754ce4ce",
      "name": "IMAGE_GENERATION",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eAaKNILuhLmx3CWc",
          "name": "HF Image generator"
        }
      }
    },
    {
      "parameters": {
        "content": "## IMAGE SCRIPT GENERATION",
        "height": 416,
        "width": 1968
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -128
      ],
      "typeVersion": 1,
      "id": "cf07a712-26bb-4773-8ea1-83200a4baf22",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## VIDEO GENERATION",
        "height": 736,
        "width": 1968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        304
      ],
      "typeVersion": 1,
      "id": "6de0384b-eda8-404f-af47-f1a62b39c335",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/create-voice-youtube-shorts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_paths\": [\"{{ $json.imageUrl }}\"],\n  \"transcript\": {{ JSON.stringify($json.script.replace(/\\(Scene\\s*\\d+\\)\\s*/g, '')) }},\n  \"video_type\": \"zoom_in\",\n  \"duration_per_image\": 30.0,\n  \"fps\": 30,\n  \"voice_type\": \"gtts\",\n  \"language\": \"en\",\n  \"slow_speech\": false,\n  \"max_duration\": 60.0\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        336
      ],
      "id": "be9be457-3bd6-4475-9571-e3565e603750",
      "name": "VIDEO_GENERATION"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/video/{{ $json.video_id }}/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        336
      ],
      "id": "8bef75ea-1576-4a2c-9900-15540ab01173",
      "name": "STATUS_CHECK"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\n# Example input\n\n# Create dictionary with \"rowNumber_sequence\" as key\nvideo_sequence = {\n    f\"{item['json']['row_number']}\": item['json']['VIDEO_ID']\n    for index, item in enumerate(items)\n}\n\n# Build the output\noutput = {\n    \"video_sequence\": video_sequence,\n    \"transition_duration\": 0.5,\n    \"output_format\": \"mp4\",\n    \"fps\": 30\n}\n\n# Return as JSON node\nreturn [{\"json\": output}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        752
      ],
      "id": "ff0bce8b-72ca-4aa9-84fa-1214286a13cc",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        752
      ],
      "id": "8f6ba8b7-d0df-4749-bdef-5e4093558da0",
      "name": "Wait1",
      "webhookId": "ba3301ac-98ab-4798-b637-7ced2cd9af6c"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/video/{{ $json.video_id }}/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        752
      ],
      "id": "15e3984e-8333-417b-84d1-51b97c19a545",
      "name": "CHECK_STATUS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "692d94b6-cb87-4721-a481-0a804bbf7751",
              "leftValue": "={{ $json.video_ready }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        752
      ],
      "id": "89e5d5c4-0bc4-47bc-8fc4-3fab0041c299",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/video/{{ $('COMBINED_VIDEO').item.json.video_id }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        1120
      ],
      "id": "6677624b-751c-4b12-af5f-c65758a8efe8",
      "name": "DOWNLOAD_VIDEO"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://host.docker.internal:8000/api/v1/cleanup",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        1120
      ],
      "id": "31df76dd-d46a-4e78-a176-a4b0a65958cd",
      "name": "CLEAN_UP_API"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "*\"You are a YouTube content expert specialized in horror and viral videos.\nGenerate a complete YouTube video package for the topic: [INSERT TOPIC].\n\nRequirements:\n\nTitle:\n\nClick-worthy, suspenseful, or thrilling.\n\nUnder 60 characters if possible.\n\nDesigned to maximize clicks and engagement without being misleading.\n\nDescription:\n\n150–300 words.\n\nEngaging, immersive, and suspenseful, aligned with horror/viral theme.\n\nInclude relevant keywords naturally for YouTube SEO.\n\nEncourage viewers to like, comment, and subscribe.\n\nTags:\n\n10–15 relevant hashtags or keywords.\n\nInclude short-tail and long-tail terms for search optimization.\n\nOutput format (JSON only, no extra text):\n\n{\n    \"title\": \"Generated video title here\",\n    \"description\": \"Generated SEO-optimized description here\",\n    \"tags\": [\"tag1\", \"tag2\", \"tag3\", \"...\"]\n}\n\n\nAdditional Notes:\n\nKeep horror/viral tone consistent in all outputs.\n\nOnly return JSON, do not add any commentary or explanation.\"*",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        1120
      ],
      "id": "d48889b7-0506-4016-80e5-f570e15ae391",
      "name": "AI Agent1",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"California\",\n    \"description\":\"description\",\n\t\"tags\": [\"#Test\", \"#test2\", \"#test3\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        1312
      ],
      "id": "35d0b834-779e-4a51-9b2b-775c92c2ad3d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        1312
      ],
      "id": "4b971f3b-6585-4149-82d5-f999e75c2e34",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2ydQBjL7AFR8ocSy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        1120
      ],
      "id": "e386c14a-9972-416d-bd8c-7fb252dd38c0",
      "name": "Wait2",
      "webhookId": "8fe816ee-6f4a-4cf6-a208-6968b41c152c"
    },
    {
      "parameters": {
        "content": "## YOUTUBE UPLOADER",
        "height": 432,
        "width": 1968,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        1040
      ],
      "typeVersion": 1,
      "id": "1c6e8595-291b-4f1d-8b9f-d866d4c8cc65",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/combine-videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_sequence\": {{ JSON.stringify($json.video_sequence) }},\n  \"transition_duration\": 0.5,\n  \"output_format\": \"mp4\",\n  \"fps\": 30\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        752
      ],
      "id": "83a18848-c9c0-47c9-85f6-1f7b6cf5095d",
      "name": "COMBINED_VIDEO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/webm"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "RAW/JSON",
        "body": "={\n  \"snippet\": {\n    \"title\": \"{{ $json.output.title }}\",\n    \"description\": \"{{ $json.output.description }}\",\n    \"tags\": \"{{ $json.output.tags }}\",\n    \"categoryId\": \"24\",\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"Unlisted\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"madeForKids\": false\n  }\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "31cb74b6-2b7a-4d86-8904-2517ac38d0a7",
      "name": "YOUTUBE_CONNECTOR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        848,
        1120
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "80YauQMH61nndy7Z",
          "name": "YouTube account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('YOUTUBE_CONNECTOR').item.json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "09114702-b6d5-427c-9508-9b8cc9332bcd",
      "name": "YOUTUBE_UPLOADER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1552,
        1120
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "80YauQMH61nndy7Z",
          "name": "YouTube account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "GET_VIDEO_DETAILS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IMAGE_GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "APPEND_VIDEO_DETAILS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_VIDEO_DETAILS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "UPDATE_STATUS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "STATUS_CHECK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VIDEO_GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPEND_VIDEO_DETAILS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_STATUS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAGE_GENERATION": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO_GENERATION": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STATUS_CHECK": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "COMBINED_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "CHECK_STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK_STATUS": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD_VIDEO": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "YOUTUBE_CONNECTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "YOUTUBE_UPLOADER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMBINED_VIDEO": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YOUTUBE_CONNECTOR": {
      "main": [
        [
          {
            "node": "DOWNLOAD_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YOUTUBE_UPLOADER": {
      "main": [
        [
          {
            "node": "CLEAN_UP_API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd91ca45-99d9-42cf-90b1-b53b1fdd28e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06e98ce9db23ff760b007eaefb3738ba91dce3528c57a63321e6eac113e705a1"
  },
  "id": "2D2PyrMU82pGUsT9",
  "tags": []
}