flow/short-video.json
{
  "name": "short-video",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: \"{{ $json.Description }}\"\nPlease generate a 1-minute scary YouTube transcript for the story, making it as terrifying as possible. The story should be written as one continuous scene lasting about 1 minute. I want to create a video based on an image, so along with the transcript, provide a detailed image generation prompt that captures the scene visually for AI image creation, optimized for YouTube Shorts (vertical format, aspect ratio 9:16).\n\nFormat the output as JSON, where the single scene contains both the transcript and the corresponding image prompt.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE: Scary Story & Image Prompt Builder\n\nPurpose:\nGiven a scene description for a scary story, generate a 1-minute transcript and a corresponding AI image generation prompt for YouTube Shorts.\n\nDefaults:\n\nIf scene details are vague, create a terrifying, suspenseful scenario suitable for horror.\n\nIf style isn’t specified, assume realistic horror visuals optimized for vertical video (aspect ratio 9:16).\n\nScary Realism Principles:\n\nScenes must feel immersive and unsettling.\n\nAlways include atmospheric cues: dim lighting, shadows, eerie details, subtle movement.\n\nEmbrace imperfections: flickering lights, mist, reflections, subtle distortions.\n\nTranscripts should be suspenseful, emotionally engaging, and vivid, without copyrighted dialogue.\n\nCamera / Visual Cues (use at least 2–3 each time):\n\n\"vertical frame\"\n\n\"YouTube Shorts aspect ratio 9:16\"\n\n\"dim ambient light\"\n\n\"soft shadows\"\n\n\"slight motion blur\"\n\n\"off-center composition\"\n\n\"fog or mist\"\n\n\"reflection in mirror\"\n\n\"unpolished handheld look\"\n\n\"low-key cinematic vibe\"\n\nSafety / Scope:\n\nDo not use copyrighted characters or storylines.\n\nFocus on atmosphere, suspense, and visual storytelling.\n\nOutput Contract:\nReturn only one JSON object in the format:\n\n{\n  \"scene_number\": 1,\n  \"transcript\": \"1-minute scary transcript (continuous, immersive, around 120–140 words, paced for narration over 60 seconds)\",\n  \"image_prompt\": \"one string (≤120 words) describing subject, action, mood, setting, style/camera cues, color notes, horror details, and visual accuracy, optimized for YouTube Shorts vertical format 9:16\"\n}\n\n\nDiversity Defaults:\n\nWhen characters are present, vary gender, ethnicity, and age naturally.\n\nUse real-world horror settings unless otherwise instructed: abandoned houses, forests, empty streets, dark rooms, or reflective mirrors.\n\nPre-send Checklist:\n\nTerrifying, suspenseful 1-minute transcript? ✓\n\nAt least 2 camera/visual cues included in the image prompt? ✓\n\nOptimized for vertical 9:16 YouTube Shorts? ✓\n\nOnly one JSON object returned? ✓"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "cf75f5cd-b763-47b0-8de6-ce045677daee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "id": "290fa4fe-ed4e-45ea-9471-9022b7141a84",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2ydQBjL7AFR8ocSy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[  \n    {\n\t\"image_prompt\":\"string\",\n      \"transcript\" : \"string\"\n    }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        208
      ],
      "id": "16d603b3-62c6-4a3a-8437-c0604cb2f9a3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "formTitle": "Free Image Generation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Description"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "0a74f440-9fa0-48b3-94fe-5eece4170402",
      "name": "On form submission",
      "webhookId": "3972b296-364f-4e58-aee6-671a1267032c"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "10ad338d-7538-453e-8d23-59f420a7e066",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        0
      ],
      "id": "cab63071-e04d-4b24-97dc-b917ab256685",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1X0BiHGR22yP1bTi89nwkuMi8WcSdirWI",
          "mode": "list",
          "cachedResultName": "N8n Automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1X0BiHGR22yP1bTi89nwkuMi8WcSdirWI"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        16
      ],
      "id": "ab2f5e2d-0d83-4b66-a0ab-93ea0df69cb7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xlcscirAF5n68NfQ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk",
          "mode": "list",
          "cachedResultName": "scary_faceless_short_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        544
      ],
      "id": "f7955aa8-05c4-466d-bb7f-22d39fa43efd",
      "name": "GET_VIDEO_DETAILS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iMpjGGr8WAQQ3x3o",
          "name": "GoogleSheetAuthentication"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b45ad77c-3015-451e-9f2e-a5188822ebba",
              "leftValue": "={{ $json.video_ready }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        400
      ],
      "id": "9000c1bd-8752-4040-8b0d-539501490d2d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        400
      ],
      "id": "83c5945b-4ad5-499b-aa42-52ad434fd73c",
      "name": "Wait",
      "webhookId": "77d76ca8-60a8-4fcf-9dc2-ea02c36cd532"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        544
      ],
      "id": "09abfa45-3d46-4e7d-bbc0-61eb91dbe7b7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk",
          "mode": "list",
          "cachedResultName": "scary_faceless_short_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "image_prompt": "={{ $('Split Out').item.json.image_prompt }}",
            "script": "={{ $('Split Out').item.json.transcript }}",
            "status": "PENDING",
            "imageUrl": "={{ $json.webContentLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        16
      ],
      "id": "5e3410ae-405a-4fbe-a8a1-fa6db4a08260",
      "name": "APPEND_VIDEO_DETAILS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iMpjGGr8WAQQ3x3o",
          "name": "GoogleSheetAuthentication"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk",
          "mode": "list",
          "cachedResultName": "scary_faceless_short_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4N2mQy2Gjv4pYamyWoPO-jk_zaTKtqwSRquNnYsqXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('GET_VIDEO_DETAILS').item.json.row_number }}",
            "status": "SUCCESS",
            "VIDEO_ID": "={{ $json.video_id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VIDEO_ID",
              "displayName": "VIDEO_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1456,
        512
      ],
      "id": "07092b8e-b82b-4bbf-8cb1-b9059df5c547",
      "name": "UPDATE_STATUS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iMpjGGr8WAQQ3x3o",
          "name": "GoogleSheetAuthentication"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n    {\n\n      \"inputs\":  \"Generate image of {{ $json.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\"    \n\n  \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        16
      ],
      "id": "e60bf3bf-5d83-4e51-97a1-7e2b2f526eb1",
      "name": "IMAGE_GENERATION",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eAaKNILuhLmx3CWc",
          "name": "HF Image generator"
        }
      }
    },
    {
      "parameters": {
        "content": "## IMAGE SCRIPT GENERATION",
        "height": 416,
        "width": 1968
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -64
      ],
      "typeVersion": 1,
      "id": "b9c6a521-6a25-4342-8a31-a6d72ac7aa05",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## VIDEO GENERATION",
        "height": 544,
        "width": 1968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        368
      ],
      "typeVersion": 1,
      "id": "79f82b05-a7ef-44c0-aae2-abf7676730ca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/create-voice-youtube-shorts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_paths\": [\"{{ $json.imageUrl }}\"],\n  \"transcript\": \"{{ $json.script.replace(/\\\\(Scene\\\\s*\\\\d+\\\\)\\\\s*/g, '').replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"video_type\": \"zoom_in\",\n  \"duration_per_image\": 30.0,\n  \"fps\": 30,\n  \"voice_type\": \"gtts\",\n  \"language\": \"en\",\n  \"slow_speech\": false,\n  \"max_duration\": 60.0\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        400
      ],
      "id": "6c6695af-8bfe-46de-82b9-8d3a1bef8ee9",
      "name": "VIDEO_GENERATION"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/video/{{ $json.video_id }}/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        400
      ],
      "id": "692dcac7-a350-4aba-adc8-9aa50faa42d9",
      "name": "STATUS_CHECK"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/video/{{ $json.VIDEO_ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        768
      ],
      "id": "8e31b2fd-4ef5-466e-b554-f9779fc9a65e",
      "name": "DOWNLOAD_VIDEO"
    },
    {
      "parameters": {
        "fieldToSplitOut": "VIDEO_ID",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        768
      ],
      "id": "a9d1c21a-40c9-48bf-b2d3-3cc4e22786e8",
      "name": "Split Out1"
    }
  ],
  "pinData": {
    "Split Out1": [
      {
        "json": {
          "VIDEO_ID": "c53a7d01-77c0-4448-9eb5-18b6b880e10b"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "GET_VIDEO_DETAILS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IMAGE_GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "APPEND_VIDEO_DETAILS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_VIDEO_DETAILS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "UPDATE_STATUS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "STATUS_CHECK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VIDEO_GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPEND_VIDEO_DETAILS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_STATUS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAGE_GENERATION": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO_GENERATION": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STATUS_CHECK": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "DOWNLOAD_VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3349ad62-80c2-47e5-8ed9-17aa3ee4b4ba",
  "meta": {
    "instanceId": "06e98ce9db23ff760b007eaefb3738ba91dce3528c57a63321e6eac113e705a1"
  },
  "id": "GDsPapcmEb8Mx3Sc",
  "tags": []
}